[submodule "APR_tests"]
	url = https://github.com/msusik/APR_tests
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/c-blosc"]
	path = external/c-blosc
	url = https://github.com/Blosc/c-blosc
