language: cpp

matrix:
  include:
  - os: linux
    sudo: false
    addons:
      apt:
        sources:
        - sourceline: ppa:teward/swig3.0
        - sourceline: ppa:george-edison55/precise-backports
        - sourceline: ppa:ubuntu-toolchain-r/test
        - llvm-toolchain-precise-3.6
        packages:
        - swig3.0
        - cmake
        - cmake-data
        - clang-3.6
        - gnupg2
        - libhdf5-dev
        - libtiff5
  - os: osx
    osx_image: xcode7.3

install:
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew unlink gnupg; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install swig gnupg2 hdf5; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then /usr/libexec/java_home -V; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then echo "UPDATESTARTUPTTY" | gpg-connect-agent > /dev/null 2>&1; fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then alias swig="swig3.0"; fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export COMPILER=clang++-3.6; fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export CXX=clang++-3.6; fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export CC=clang-3.6; fi
- git submodule init
- git submodule update
- pip install numpy

script:
- sh ./cmake-build.sh
